<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" <%= "checked" if task.completed %>>&nbsp;<%= link_to task.title, task_path(task) %></a>
    </li>
  <% end %>
</ul>
<p>
  <%= link_to "Add a new task", new_task_path %>
</p>
